[Desktop Entry]
Name=Fvwm2
Comment=An improved version of the FVWM X-based window manager
Comment[de]=F(?) Virtual Window Manager
Comment[es]=Administrador de ventanas semejante al mwm
Comment[fr]=F(?) Virtual Window Manager
Comment[ja]=╡Чнихг FVWM - X мя╔╕╔ё╔С╔и╔╕╔ч╔м║╪╔╦╔Ц
Comment[tr]=YaygЩn bir pencere denetleyicisi
Comment[pt_BR]=Gerenciador de janelas semelhante ao mwm
Comment[ru]=Виртуальный оконный менеджер F(?)
Exec=fvwm2
TryExec=fvwm2

[Window Manager]
SessionManaged=false
# vi: encoding=utf-8
